<%- include('partials/header')%>

    <div class ="container">
        <div class="card text-center" style="width: 100%">
            <img src="<%= data.imageURL %>" style="width: 10rem;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>




    <div class="row mt-2">
        <div class="col-12 text-center">
            <div class="text-center">
                <img src="<%= data.imageURL %>" class="rounded" alt="...">
              </div>
              <br>
            <h1><%= data.fullName %></h1>
        </div>
    </div>
<%- include('partials/footer')%>